<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Form Fantasia</title>
    <link rel="stylesheet" href="styles/base.css">
  </head>
  <body>
    <div class="form-container">
      <header>
        <h1>Form Playground</h1>
      </header>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>