<form action="/create_user" method="post">
  <h2>Sign up here</h2>
  <div class="field">
    <label for="first-name">First Name</label>
    <input type="text" name="first-name" id="first-name" />
  </div>
  <div class="field">
    <label for="last-name">Last Name</label>
    <input type="text" name="last-name" id="last-name" />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>

  <fieldset>
    <legend>Gender</legend>
    <label>
      <input type="radio" name="gender" value="male" />
      Male
    </label>
    <label>
      <input type="radio" name="gender" value="female" />
      Female
    </label>
    <label>
      <input type="radio" name="gender" value="non-  binary" />
      Non-binary
    </label>
  </fieldset>

  <fieldset>
    <legend>Hobbies</legend>
    <label>
      <input type="checkbox" name="hobbies[]" value="hockey" />
      Hockey
    </label>
    <label>
      <input type="checkbox" name="hobbies[]" value="soccer" />
      Soccer
    </label>
    <label>
      <input type="checkbox" name="hobbies[]" value="basket weaving" />
      Basket Weaving
    </label>
  </fieldset>

  <button class="btn btn-submit">
    <img src="http://placehold.it/32x32&text=">
    <h2>Create my account</h2>
  </button>
</form>