<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CSS Examples</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
  </head>
  <body>
    <header>
      <h1>CSS Is Awesome</h1>
    </header>
    <nav>
      <ul>
        <li><a href="http://google.com">Nav 01</a></li>
        <li><a href="http://google.com">Nav 02</a></li>
        <li><a href="http://google.com">Nav 03</a></li>
        <li><a href="http://google.com">Nav 04</a></li>
        <li><a href="http://google.com">Nav 05</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <aside>
      <ul>
        <li><a href="http://google.com">Link 01</a></li>
        <li><a href="http://google.com">Link 02</a></li>
        <li><a href="http://google.com">Link 03</a></li>
        <li><a href="http://google.com">Link 04</a></li>
        <li><a href="http://google.com">Link 05</a></li>
      </ul>
    </aside>
    <footer>
      <p>This is a production of Bitmaker Labs</p>
    </footer>
  </body>
</html>